.avatar {
  width: 300px !important;
  height: 300px !important;
}

.avatar-circle {
  width: 300px !important;
  height: 300px !important;
}

.avatar-square {
  width: 300px !important;
  height: 300px !important;
}